################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CardGame.API/bin/Debug/net5.0
/CardGame.API/obj
/CardGame.API/CardGame.API.csproj.user
/CardGame.Service/bin/Debug/net5.0
/CardGame.Service/obj
/CardGameFrontend.zip
/CardGameFrontend/node_modules
/CardGame.API/bin/Release/net5.0
/CardGame.API/Properties/PublishProfiles
/CardGame.API/Properties/ServiceDependencies/cardgame001api - Web Deploy
/CardGame.Service/bin/Release/net5.0
/CardGame.API/bin/Debug/netcoreapp3.1
/CardGame.Service/bin/Debug/netcoreapp3.1
